<!-- .__            __   
|  |__   _____/  |_ 
|  |  \ /  _ \   __\
|   Y  (  <_> )  |  
|___|  /\____/|__|  
     \/             
 -->

<div class="table">

  <button mat-raised-button class="addNew" (click)="addNewAcid()">Add New Acid</button>

  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Filter by acid code" id="codeSearch">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Highlight in table"></textarea>
      </mat-form-field>
    </form>

  <div class="pagingSection">
      <span class="pagingButtons"><button mat-raised-button class="pagingButtons" (click)="reloadTable()">Reload Table</button></span>
    <span class="pagingButtons"><button mat-raised-button (click)="loadPreviousPageOfData()">Load Previous Page</button></span>
    <span class="pagingButtons"><button mat-raised-button (click)="loadNextPageOfData()">Load Next Page</button></span>
    <span class="pagingButtons" *ngIf="currentPage">Page: {{currentPage}}</span>
  </div>
  
  <div style="padding-top: 10px;">
    <hot-table class="hot" [data]="acidsResults" [settings]="hotSettings" ></hot-table>
  </div>
</div>