.table {
    margin: 15px;
}

.addNew {
    background-color: #dadada;
}

.pagingButtons {
    padding-right: 10px;

    button {
    background-color: #dadada;
    }
}

.pagingSection {
    padding-top: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }