<header class="header">
  <mat-toolbar color="primary" class="mat-typography merlin-header">

    <mat-toolbar-row class="header-top-row">

      <div class="merlin-branding">
        <a href="/" class="merlin-title">
          <div class="merlin-logo">
            <img src="../assets/favicon.ico" />
          </div>
          <span>Merlin</span>
        </a>
        <span class="merlin-subtitle">
          <span></span>
          <small>Information management system for the USGS Mecury Research Laboratory</small>
        </span>
      </div>

      <div class="nav-buttons">
        <span class="about-button-span">
          <button mat-button aria-label="About this application"> <!-- (click)="openAboutDialog()"  -->
            <mat-icon class="icon">info_outline</mat-icon>
            <span class="header-button-text">About</span>
          </button>
        </span>
      </div>


    </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

<!-- <footer class="footer">
  <mat-toolbar color="primary" class="mat-typography merlin-header">
    <mat-toolbar-row class="merlin-footer">

      <span class="org">USGS Mecury Research Laboratory</span>

      <span class="app-meta">
        <span>Version</span>
        <span>Developed by <a href="https://wim.usgs.gov" target="_blank">USGS Web Informatics and Mapping
            (WIM)</a></span>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
</footer> -->
